statemachine/stock_trader.asl.json
{
    "Comment": "A state machine that scan a website for images URIs then run performance testing against those objects on different websites.",
    "StartAt": "Crawle For Images",
    "States": {
        "Crawle For Images": {
            "Type": "Task",
            "Resource": "${ScrapperFunctionArn}",
            "ResultPath": "$.ScrapperResults",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "For Loop Condition"
        },
        "For Loop Condition": {
            "Type": "Choice",
            "Choices": [
              {
                "Not": {
                  "Variable": "$.ScrapperResults.ImageLinks[0]",
                  "StringEquals": "DONE"
                },
                "Next": "Run Performance Testing"
              }
            ],
            "Default": "Succeed"
          },
        "Run Performance Testing": {
            "Type": "Task",
            "Resource": "${PerfTestingRunnerFunctionArn}",
            "Parameters": {"scrapperJobId": "$.ScrapperResults.Id",
            "ScrapperJobTimestamp": "$.ScrapperResults.Timestamp",
            "ImageUri": "$.ScrapperResults.ImageLinks[0]"},
            "ResultPath": "null",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "Pop Element from List"
        },
        "Pop Element from List": {
        "Type": "Pass",
        "Parameters": {
            "ScrapperResults.ImageLinks.$": "$.ScrapperResults.ImageLinks[1:]"
        },
        "Next": "For Loop Condition"
        },
        "Succeed": {
        "Type": "Succeed"
        }
    }
}